.u-section-1 .u-sheet-1 {
  min-height: 965px;
}

.u-section-1 .u-image-1 {
  width: 810px;
  height: 905px;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 914px;
  }

  .u-section-1 .u-image-1 {
    width: 570px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    height: 804px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 872px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 603px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 380px;
  }
}